<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tianya.springboot.mybatis.mapper.IUserMapper">
    
    <select id="getUserList" resultType="UserBean">
        select * from user
    </select>
    
    
    <select id="getUserTableColumns" resultType="map">
        SELECT * FROM information_schema.COLUMNS t WHERE  t.TABLE_SCHEMA = 'test' AND t.TABLE_NAME = 'user'
    </select>
    
    <!-- 批量插入用户 -->
    <insert id="batchInsert">
    	<foreach collection="list" item="item" index="index"  separator=";" >
        	insert into user(username,password,isadmin) 
        	values(#{item.userName}, #{item.password}, #{item.isAdmin})
  		</foreach>
    </insert>
    
    
</mapper>

